/* Barra superior fija */
.toolbar { 
  position: sticky; 
  top: 0; 
  z-index: 10; 
  background: #141414; 
  color: white;
}

/* Logo destacado */
.logo { 
  font-weight: 700; 
  font-size: 1.2rem;
  letter-spacing: .5px; 
  color: #e50914; /* rojo estilo Netflix */
}

/* Contenedor */
.container { 
  max-width: 1300px; 
  margin: 1rem auto; 
  padding: 0 1rem 2rem; 
  display: grid; 
  gap: 1rem; 
}

/* Grid responsiva para películas */
.grid { 
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); 
  gap: 1rem;
}




.toolbar-content {
  display: flex;
  flex-direction: column; /* apila verticalmente */
}

.logo {
  font-weight: 700; 
  font-size: 1.4rem;
  letter-spacing: .5px; 
  color: #e50914; /* rojo estilo Netflix */
}

.subtitle {
  font-size: 1.2rem;
  color: #e50914;
  margin-top: 2px; /* separa un poco del logo */
}



/* Ajustes de cada tarjeta */
app-movie-card {
  max-width: 180px;
  margin: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* Efecto hover estilo Netflix */
app-movie-card:hover {
  transform: scale(1.1);
  z-index: 5;
}

/* Mensaje cuando no hay resultados */
.empty { 
  opacity: .8; 
  text-align: center; 
  margin-top: 2rem; 
  color: white;
  font-size: 1.1rem;
}
