@use '@angular/material' as mat;

// Definir temas
$light-theme: mat.define-theme((
  color: (
    primary: mat.$indigo-palette,
    secondary: mat.$pink-palette,
  ),
  typography: Roboto,
));

$dark-theme: mat.define-theme((
  color: (
    primary: mat.$indigo-palette,
    secondary: mat.$pink-palette,
  ),
  typography: Roboto,
  density: 0,
));

// Tema por defecto (light)
html {
  @include mat.all-component-themes($light-theme);
}

html.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

// Reset + fuentes
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
